.table {
  position: absolute;
  margin-top: 265px;
  width: 1240px;
  height: 50px;
  margin-top: 200px;
  margin-left: 90px;
}

.th1 {
  color: white;
  border-bottom: 1px solid #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 13px;
}

.th {
  color: white;
  border-collapse: collapse;
  padding: 5px;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
}

.td {
  text-align: center;
	font-weight: 800;
	font-size: 17px;
	padding: 5px;
	line-height: 13px;
	color: #2FC18C;
	border-bottom: 1px solid #2FC18C;
}

.SVG {
	background: transparent;
	width: 50px;
	border: none;
	flex-direction: row;
	margin-top: 6px;
  cursor: pointer;
}
